/* frontend-style.css */
/* Add custom styles for front-end pages */

/* Example styles */
.user-uploaded-files {
    margin-top: 20px;
}

.file {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    background-color: aliceblue;
}

.file:hover {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    background-color: rgb(241, 240, 255);
}

.file a {
    text-decoration: none;
    color: #0073aa;
}

.file a:hover {
    text-decoration: underline;
}



  .file-list {
    display: flex;
    flex-direction: column;
}

.file-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
}

.file-item:hover {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(241, 240, 255);
}

.file-info {
    flex-grow: 1;
}

.file-title a {
    color: #0073aa;
    text-decoration: none;
}

.file-title a:hover {
    text-decoration: underline;
}

.file-meta {
    font-style: italic;
}

.file-actions {
    margin-left: 10px;
}

.search_box {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.search {
    width: inherit !important;
    height: 46px !important;
}

.search_button {
    margin-top: 10px;
}

.custom-uploads-list {
    padding-left: 1px !important;
}